.wrap{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
div{
    border: 1px dashed red;
}
a{
    text-decoration: none;
    color: black;
}
main,.footer__footer div,.footer__main{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.main__head__head{
    display: flex;
}
.main__head__footer{
    display: flex;
}
.main__content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2%;
    row-gap: 50px;
}
.footer__head__card{
    padding: 20px 20px;

}
footer{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.footer__head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border-bottom: 2px solid #F4F4F4;
    border-top: 2px solid #F4F4F4;
}
header{
    padding: 15px 0px ;
    border-bottom: 2px solid #F4F4F4;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.header__main{
    display: flex;
    margin-top: 12px;
}
.header__main a:not(.header__main__LastA),.header__main span{
    flex-grow: 1;
}
.header__main__LastA{
    flex-grow: 40;
}

.main__head__head{
    display: flex;
}
.main__head__head a:not(.main__head__head__LastA){
    flex-grow: 1;
}
.main__head__head__LastA{
    flex-grow: 25;
}
.main__head__head__img__wrap img{
    width: 100%;
    filter: grayscale(40%);
    transition: 1s;
}
.main__head__head__img__wrap img:hover{
    width: 100%;
    filter: grayscale(0%);
}
.main__head__main{
    grid-area: main__head__main;
}
.main__head__footer__card1{
    grid-area: main__head__footer__card1;
}
.main__head__footer__card2{
    grid-area: main__head__footer__card2;
}
.main__head__footer__card3{
    grid-area: main__head__footer__card3;
}
.main__head{
    display: grid;
    grid-template-areas:
    "main__head__main main__head__main main__head__main"
    "main__head__footer__card1 main__head__footer__card2 main__head__footer__card3";
    column-gap: 3.5%;
    row-gap: 30px
}
.main__head__footer__card {
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main__content__card {
    text-align: center;
}
.main__content__card.card{
    border-radius: 0;
    border: none;
}
.main__content__card .img__wrap{
    height: 200px;
}
.main__content__card img{
    height: 100%;
}
.main__head__footer__card img{
    background-size: cover;
}
.main__head__footer__card1{
    background-image: url("../images/HandBags.jpg");
}
.main__head__footer__card2{
    background-image: url("../images/Shoes.jpg");
}
.main__head__footer__card3{
    background-image: url("../images/Watch.jpg");
}
.card-price{
    display: flex;
    justify-content: center;
    gap: 7px;
}
.About{
    grid-area: About;
}
.Contact_Us{
    grid-area: Contact_Us;
}
.Brands{
    grid-area: Brands;
}
.My_Account{
    grid-area: My_Account;
}
.Delivery{
    grid-area: Delivery;
}
.Privacy_Policy{
    grid-area: Privacy_Policy;
}
.Terms_Conditions{
    grid-area: Terms_Conditions;
}
.Returns{
    grid-area: Returns;
}
.Site_Map{
    grid-area: Site_Map;
}
.Gift_Vouchers{
    grid-area: Gift_Vouchers;
}
.Affiliates{
    grid-area: Affiliates;
}
.Specials{
    grid-area: Specials;
}
.My_Account{
    grid-area: My_Account;
}
.My_Account2{
    grid-area: My_Account2;
}
.Order_History{
    grid-area: Order_History;
}
.Wish_List{
    grid-area: Wish_List;
}
.Newsletter{
    grid-area: Newsletter;
}
.Extras{
    grid-area: Extras;
}
.Customer_Service{
    grid-area: Customer_Service;
}
.Information{
    grid-area: Information;
}
.footer__main{
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: 
    "Information Customer_Service Extras My_Account2"
    "About Contact_Us Brands My_Account"
    "Delivery Returns Gift_Vouchers Order_History"
    "Privacy_Policy Site_Map Affiliates Wish_List"
    "Terms_Conditions . Specials Newsletter";
    padding: 30px 0;
}
.main__head__head{
    background-color: #2D2D2D;
    padding: 1% 2%;
}
.main__head__head a{
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}
.main__head__head a:first-child{
    color: white;
}
.header__h1__span{
    color: #BCBCBC;
}
header a, header span{
    color: #828282;
    font-size: 16px;
}
header a:first-child{
    color: black;
}
.main__head__footer__card2 p,.main__head__footer__card2 h3{
    color: white;
    font-weight: 600;
}
.footer__head__card1{
    border-right: 1.7px solid #F7F7F7;
}
.footer__head__card1 h4, .footer__head__card1 h6{
    color: #F7F7F7;
}
.footer__head__card2 h6{
    color: #8E8E8E;
}
.low-price{
    text-decoration:line-through;
    color: grey;
}
.main__content h5.card-text:not(.low-price){
    color: crimson;
}
.main__content button{
    border-radius: 0;
    background-color: #2B2B2B;
    color: white;
    border: none;
}

.footer__main a{
    color: #9B9B9B;
    border-bottom: 1px solid #F4F4F4;
    padding: 8px 0;
}
.wrap footer .About__none{
    color: black;
}
.footer__footer{
    background-color: #2D2D2D;
    color: white;
    padding: 10px 0;
}
@media (max-width: 996px) {
    .main__content {
        grid-template-columns: repeat(2, 1fr);
    }
    .main__head__head a{
        font-size: 16px;
    }
  }
@media (max-width: 459px) {
    .main__content {
        grid-template-columns: repeat(1, 1fr);
    }
  }
